@model BeyondCreator.Models.Weapon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weapon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dice.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiceCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiceCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeaponMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeaponMaterial.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.damageBonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.damageBonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firmness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firmness)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
